# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.pyc
/swc

# CVode files
/cvode/instdir/
/cvode/builddir/

# Python
__pycache__

# Winmerge backups
*.bak

# Input/Output files
/input
/tmp
cycles*.txt

# Third party libraries
third_party
advisor

# IDE
/ide

# VS Code
/.vscode

# Mac OS
.DS_Store
